# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio files
.vs/
*.vsidx
*.vstemplate
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Files with sensitive data
appsettings.Development.json
appsettings.Production.json

# Entity Framework
Migrations/

# Dependencies
packages/
node_modules/